<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Premium</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-grid fixed="true" class="ion-padding">
		<ion-row class="hero--container ion-align-items-center">
			<ion-row class="selection--container">
				<ion-col *ngFor="let tier of tiers" size="12" size-md="3">
					<ion-card class="ion-no-margin">
						<ion-card-header class="ion-align-items-center">
							<ion-card-title>{{ tier.name }}</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<p><strong>{{ tier.price }}</strong> / MONTH</p>
							<ion-button (click)="openUrl(tier.url)">
								Join
							</ion-button>
							<ul>
								<li *ngFor="let perk of tier.perks"><span [innerHTML]="perk"></span></li>
							</ul>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-row>
	</ion-grid>
</ion-content>
