<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-content>
				<ion-list id="inbox-list">
					<ion-list-header>InviteManager</ion-list-header>
					<ion-note>Grow your discord server!</ion-note>

					<ion-menu-toggle auto-hide="false" *ngFor="let p of navGroup1; let i = index">
						<ion-item
							(click)="selectedIndex = i"
							routerDirection="root"
							[routerLink]="[p.url]"
							lines="none"
							detail="false"
							[class.selected]="selectedIndex == i"
						>
							<ion-label>{{ p.title }}</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>

				<ion-list id="labels-list">
					<ion-list-header>Servers</ion-list-header>

					<ion-item *ngFor="let p of navGroup2" (click)="openUrl(p.url)" lines="none">
						<ion-label>{{ p.title }}</ion-label>
					</ion-item>
				</ion-list>
			</ion-content>
			<ion-footer class="ion-no-border">
				<ion-toolbar>
					<ion-row class="ion-padding-horizontal ion-justify-content-evenly">
						<a href="https://top.gg/bot/409875566800404480" target="_blank">
							<ion-icon name="document-text-outline" color="medium"></ion-icon>
						</a>
						<!-- <a href="https://twitter.com/" target="_blank">
							<ion-icon name="logo-twitter" color="medium"></ion-icon>
						</a> -->
					</ion-row>
				</ion-toolbar>
			</ion-footer>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
