<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>FAQ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid fixed="true" class="ion-padding">
		<ion-searchbar animated debounce="200" (ionInput)="applyFilter($event)" (ionClear)="applyFilter()"></ion-searchbar>
		<ng-container *ngFor="let faqGroup of filteredGroupedFaqs">
			<h2>{{ faqGroup.title }}</h2>
			<mat-accordion>
				<mat-expansion-panel *ngFor="let faq of faqGroup.faqs" (opened)="faq.open = true" (closed)="faq.open = false">
					<mat-expansion-panel-header collapsedHeight="80px" expandedHeight="80px">
						<mat-panel-title>
							<h6>{{ faq.question }}</h6>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<span [innerHTML]="faq.answer"></span>
				</mat-expansion-panel>
			</mat-accordion>
		</ng-container>
	</ion-grid>
</ion-content>
