<ion-header>
	<ion-toolbar>
		<ion-title>FAQ</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-searchbar animated debounce="200" (ionInput)="applyFilter($event)" (ionClear)="applyFilter()"></ion-searchbar>
	<mat-accordion>
		<mat-expansion-panel *ngFor="let faq of filteredFaqs" (opened)="faq.open = true" (closed)="faq.open = false">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ faq.question }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<p [innerHTML]="faq.answer"></p>
		</mat-expansion-panel>
	</mat-accordion>
</ion-content>
